<div *ngIf="enumerations">
  <div class="enumerations-header">
    <span class="enumeration-label">{{enumerationsLabel}}</span>
  </div>

  <table>
    <tr>
      <th>Value</th>
      <th class="label-column">Label</th>
      <th></th>
    </tr>

    <tr *ngFor="let enumeration of enumerations">
      <td>
        <input matInput 
          [(ngModel)]="enumeration.value"
          type="number"
          placeholder="Value" />
      </td>

      <td>
        <input matInput 
          [(ngModel)]="enumeration.label"
          type="text"
          placeholder="Label" />
      </td>

      <td>
        <button mat-button type="button" (click)="onDeleteEnumeration(enumeration)" class="mat-icon-button">
          <mat-icon svgIcon="clear"></mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button id="add-enum" mat-button type="button" (click)="onAddEnumeration()"  class="text-italic text-secondary">
          <mat-icon svgIcon="add"></mat-icon>
          Add an enum...
        </button>
      </td>
    </tr>
  </table>
</div>
