
table{
  border: 1px solid var(--st-gray-20);
  border-radius: 4px;
}

.st-table input{
  width: 100%;
}

.delete-enum{
  width: 60px;
}

.enumeration-container {
  margin-top: 3em;
}

.enumerations-header {
  display: flex;
  justify-content: space-between;
}

.enumeration-label {
  color: var(--st-gray-60);
  font-size: 12px;
  padding-bottom: .2em;
}

/* Make our label column the widest. */
.label-column {
  width: 100%;
}

/*Add a hover state for enum button*/
#add-enum{
  font-style: italic;
  line-height: 24px;
  padding: 0;
}
