table, th, td {
  border: 1px solid #cfd4da;
}

th, td {
  padding: .5em;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #f1f3f5;
  font-size: 12px;
  font-weight: 500;
}

table tr td:nth-child(odd) {
  background-color: #f1f3f5;
}

.enumerations-header {
  display: flex;
  justify-content: space-between;
}

.enumeration-label {
  position: relative;
  top: .75em;
}

/* Make our label column the widest. */
.label-column {
  width: 100%;
}
