table, th, td {
  border: 1px solid #cfd4da;
}

th, td {
  background-color: rgba(0,0,0,.04);
  padding: .4em;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #f1f3f5;
  font-size: 12px;
  font-weight: 500;
}

table tr td:nth-child(odd) {
  background-color: #f1f3f5;
}

table td {
  background-color: #fff;
}


.enumerations-header {
  display: flex;
  justify-content: space-between;
}

.enumeration-label {
  color: rgba(0,0,0,.6);
  font-size: 14px;
  padding-bottom: .2em;
}

/* Make our label column the widest. */
.label-column {
  width: 100%;
}

/*Add a hover state for enum button*/
#add-enum{
  font-style: italic;
  line-height: 24px;
  padding: 0;
}
