<div *ngIf="enumerations" class="enumeration-container">
  <div class="enumerations-header">
    <span class="enumeration-label">{{enumerationsLabel}}</span>
  </div>

  <table class="st-table">
    <tr>
      <th>Value</th>
      <th class="label-column">Label</th>
      <th class="delete-enum"></th>
    </tr>

    <tr *ngFor="let enumeration of enumerations">
      <td>
        <input class="st-input"
          [(ngModel)]="enumeration.value"
          type="text"
          placeholder="Value" />
      </td>

      <td>
        <input class="st-input"
          [(ngModel)]="enumeration.label"
          type="text"
          placeholder="Label" />
      </td>

      <td class="delete-enum">
        <button class="st-button icon tertiary" type="button" (click)="onDeleteEnumeration(enumeration)">
          <i class="si si-close"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button id="add-enum" (click)="onAddEnumeration()" type="button" class="st-button icon tertiary text-italic text-secondary">
          <i class="si si-plus"></i>
          Add an enum...
        </button>
      </td>
    </tr>
  </table>
</div>
