button {
  margin-right: .5em;
}

.help-icon {
  vertical-align: middle;
}

#logotype{
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  font-weight: 00;
  letter-spacing: .22em;
  text-transform: uppercase;
}

.menu-button {
  color: black;
}

.navigation-container {
  display: flex;
  justify-content: center;
}

.toolbar-container {
  display: flex;
  align-items: center;
}

.version-text {
  line-height: 3em;
  padding: 0 1em;
}
