button {
  margin-right: .5em;
  color: white;
}

.help-icon {
  color: white;
  vertical-align: middle;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #B9B9B9;
}

.menu-button {
  color: black;
}

.toolbar-container {
  display: flex;
  align-items: center;
}

.version-text {
  line-height: 3em;
  padding: 0 1em;
}
