<mat-toolbar>
  <div class="toolbar-container">
    <span>State Management</span>

    <app-collections></app-collections>
  </div>

  <div class="navigation-container">
    <button mat-button routerLink="/collection/{{selectedCollectionId}}/states" routerLinkActive="active">
      States
    </button>

    <button mat-button routerLink="/collection/{{selectedCollectionId}}/relationships" routerLinkActive="active">
      Relationships
    </button>

    <button mat-button routerLink="/collection/{{selectedCollectionId}}/events" routerLinkActive="active">
      Events
    </button>

    <button mat-button routerLink="/collection/{{selectedCollectionId}}/information-types" routerLinkActive="active">
      Information Types 
    </button>

    <button mat-icon-button [matMenuTriggerFor]="versionMenu">
      <mat-icon class="help-icon" svgIcon="help"></mat-icon>
    </button>

    <mat-menu #versionMenu="matMenu">
      <span class="version-text">State Manager V3.0</span>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="more_vert"></mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/faqs'" class="menu-button">
        <span>FAQs</span>
      </button>

      <button mat-menu-item routerLink="/collection/{{selectedCollectionId}}/groups" class="menu-button">
        <span>Groups</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
