button {
  margin-right: .5em;
  color: white;
}

.collection-dropdown {
  font-size: .75em;
  width: 20em;
  margin-left: 4em;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #B9B9B9;
}

.menu-button {
  color: black;
}
