<div class="sidenav-container">
  <div class="sidenav-header">
    <span>Relationship Detail</span>

    <button mat-icon-button class="sidenav-cancel-button" (click)="onCancel()">
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput
        placeholder="Display Name"
        type="text"
        formControlName="displayName"
        required
      />
    </mat-form-field>
  </form>
</div>
