<div class="sidenav-container">
  <div class="sidenav-header">
    <span>State Detail</span>

    <button mat-icon-button class="sidenav-cancel-button" (click)="onCancel()">
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="stateIdentifierMap">
      <app-identifier-form
        [originalIdentifier]="newState.identifier"
        [identifierMap]="stateIdentifierMap"
        [id]="newState.id"
        [type]="type"
        (duplicateIdentifier)="onDuplicateIdentifier($event)"
        (identifierEmitter)="onIdentifierChange($event)">
      </app-identifier-form>

      <mat-form-field appearance="outline">
        <mat-label>Display Name</mat-label>
        <input matInput
          placeholder="Display Name"
          type="text"
          formControlName="displayName"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <input matInput
          placeholder="Data Type"
          type="text"
          formControlName="dataType"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Units</mat-label>
        <input matInput
          placeholder="Units"
          type="text"
          formControlName="units"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Source</mat-label>
        <input matInput
          placeholder="Source"
          type="text"
          formControlName="source"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Subsystem</mat-label>
        <input matInput
          placeholder="Subsystem"
          type="text"
          formControlName="subsystem"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>State Type</mat-label>
        <mat-select placeholder="State Type" [(value)]="type">
          <mat-option *ngFor="let stateType of stateTypes" [value]="stateType">
            {{stateType}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput
          placeholder="Description"
          formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input matInput
          placeholder="External Link"
          type="text"
          formControlName="externalLink"
        />
      </mat-form-field>

      <app-enum-form
        [collectionId]="collectionId"
        [enumerations]="newState.enumerations"
        [deletedEnumerationIds]="deletedEnumerationIds">
      </app-enum-form>
    </div>

    <div class="sidenav-actions">
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
