<div class="sidenav-container">
  <div class="sidenav-header">
    <span class="st-typography-header">State Details</span>

    <button class="st-button icon tertiary" (click)="onCancel()">
      <i class="si si-close"></i>
    </button>
  </div>

  <div class="sidenav-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngIf="stateIdentifierMap">
        <app-identifier-form
          [originalIdentifier]="newState.identifier"
          [identifierMap]="stateIdentifierMap"
          [id]="newState.id"
          [type]="type"
          (duplicateIdentifier)="onDuplicateIdentifier($event)"
          (identifierEmitter)="onIdentifierChange($event)">
        </app-identifier-form>

        <label for="Display Name">Display Name</label>
        <input class="st-input"
          placeholder="Display Name"
          name="Display Name"
          type="text"
          formControlName="displayName"
          required
        />

        <label for="Data Type">Data Type</label>
        <input class="st-input"
          placeholder="Data Type"
          name="Data Type"
          type="text"
          formControlName="dataType"
          required
        />

        <label for="Units">Units</label>
        <input class="st-input"
          placeholder="Units"
          type="text"
          formControlName="units"
          required
        />

        <label for="Source">Source</label>
        <input class="st-input"
          placeholder="Source"
          name="Source"
          type="text"
          formControlName="source"
          required
        />

        <label for="Subsystem">Subsystem</label>
        <input class="st-input"
          placeholder="Subsystem"
          name="Subsystem"
          type="text"
          formControlName="subsystem"
          required
        />

        <label for="State Type">State Type</label>
        <select class="st-select" placeholder="State Type" formControlName="type">
          <option *ngFor="let stateType of stateTypes" [value]="stateType">
            {{stateType}}
          </option>
        </select>

        <label for="Description">Description</label>
        <textarea class="st-input"
          placeholder="Description"
          formControlName="description">
        </textarea>

        <label for="External Link">External Link</label>
        <input class="st-input"
          placeholder="External Link"
          name="External Link"
          type="text"
          formControlName="externalLink"
        />

        <app-enum-form
          [collectionId]="collectionId"
          [enumerations]="newState.enumerations"
          [deletedEnumerationIds]="deletedEnumerationIds">
        </app-enum-form>
      </div>
    </form>
  </div>

  <div class="sidenav-footer">
    <button class="st-button secondary" (click)="onCancel()">Cancel</button>

    <button class="st-button" type="submit">Save State</button>
  </div>
</div>
