<div class="sidenav-container">
  <div class="sidenav-header">
    <span>State Detail</span>

    <button mat-icon-button class="cancel-button" (click)="onCancel()">
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="identifiers !== null">
      <mat-form-field>
        <input matInput
          placeholder="Identifier"
          type="text"
          formControlName="identifier"
          (ngModelChange)="onIdentifierChange($event)"
          required
        />

        <mat-icon matSuffix
          #duplicateTooltip
          [ngClass]="identifierIcon"
          matTooltipPosition="above"
          [matTooltip]="tooltip">{{identifierIcon}}</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput
          placeholder="Display Name"
          type="text"
          formControlName="displayName"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input matInput
          placeholder="Type"
          type="text"
          formControlName="type"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input matInput
          placeholder="Units"
          type="text"
          formControlName="units"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input matInput
          placeholder="Source"
          type="text"
          formControlName="source"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <textarea matInput
          placeholder="Description"
          formControlName="description"></textarea>
      </mat-form-field>

      <enum-form
        [enumerations]="enumerations">
      </enum-form>
    </div>

    <div class="sidenav-actions">
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
