<div *ngIf="eventMap; else noEvents">
  <mat-form-field appearance="fill" class="filter-container">
    <input matInput (keyup)="applyFilter($any($event).target.value)" type="text" placeholder="Filter" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" [ngClass]="{ 'history': history }">
    <ng-container *ngIf="history">
      <ng-container matColumnDef="eventId">
        <th mat-header-cell *matHeaderCellDef>Event Id</th>
        <td mat-cell *matCellDef="let event">{{event.eventId}}</td>
      </ng-container>

      <ng-container matColumnDef="updated">
        <th mat-header-cell *matHeaderCellDef>Updated</th>
        <td mat-cell *matCellDef="let event">{{event.updated}}</td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="identifier">
      <th mat-header-cell *matHeaderCellDef>Identifier</th>
      <td mat-cell *matCellDef="let event">{{event.identifier}}</td>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>Display Name</th>
      <td mat-cell *matCellDef="let event">{{event.displayName}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let event">{{event.description}}</td>
    </ng-container>
    
    <ng-container matColumnDef="externalLink">
      <th mat-header-cell *matHeaderCellDef>External Link</th>
      <td mat-cell *matCellDef="let event">
        <a [href]="event.externalLink" target="_blank">
          {{event.externalLink}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let event">{{event.type}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"
      (click)="onRowClick(row)">
    </tr>
  </table>
</div>

<mat-paginator
  [pageSize]="100"
  [pageSizeOptions]="[100, 250, 1000]"
  showFirstLastButtons></mat-paginator>

<ng-template #noEvents>
  <span>There are no defined events.</span>
</ng-template>
