<mat-toolbar class="information-types-toolbar">
  INFORMATION TYPES 

  <div class="actions-container">
    <button mat-raised-button color="accent" (click)="informationTypesUpload.click()">
      Upload Information Types 
    </button>
    <input #informationTypesUpload class="file-upload-input" type="file" (input)="onFileUpload($event)" />
  </div>
</mat-toolbar>

<div class="information-types-content-container">
  <information-types-table
    [informationTypesMap]="informationTypesMap">
  </information-types-table>
</div>
