<mat-toolbar  class="mat-toolbar-page secondary-toolbar" color="primary">
  Information Types

  <div class="actions-container">
    <button mat-button color="primary" (click)="informationTypesUpload.click()">
      Upload Information Types
    </button>
    <input #informationTypesUpload class="file-upload-input" type="file" (input)="onFileUpload($event)" />
  </div>
</mat-toolbar>

<div class="information-types-content-container">
  <app-information-types-table
    [informationTypesMap]="informationTypesMap">
  </app-information-types-table>
</div>
