<div *ngIf="items && items.length > 0; else noItems">
  <span class="st-chip chip" *ngFor="let selectedItem of selectedItems">
    {{ getItemNameOrIdentifier(selectedItem) }}
    <i class="si si-close" (click)="onRemoveSelected(selectedItem.id)"></i>
  </span>

  <div #autocomplete>
    <input
      class="st-input"
      type="text"
      placeholder="Search for an item"
      (input)="onFilter($event)"
      (click)="dropdownOpen = true"
    />

    <div *ngIf="dropdownOpen" class="autocomplete-dropdown">
      <div
        *ngFor="let item of filteredItems.slice(0, MAX_SHOWN_ITEMS)"
        (click)="onSelectItem(item)"
        class="autocomplete-item"
      >
        {{ getItemNameOrIdentifier(item) }}
      </div>
    </div>
  </div>
</div>

<ng-template #noItems>
  <p>There are no valid items.</p>
</ng-template>
