i {
  cursor: pointer;
}

input {
  margin-bottom: 4px;
}

.autocomplete-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid var(--st-gray-20);
  border-radius: 4px;
  width: 467px;
  z-index: 1;
}

.autocomplete-item {
  font-size: 14px;
  padding: 4px;
  word-wrap: break-word;
}

.autocomplete-item:hover {
  background-color: var(--st-gray-20);
  cursor: pointer;
}

.chip {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;
}
