.command-argument-header-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 8px;
}

.command-argument-number-container,
.command-argument-name-container {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #1b1d1e;
}

.command-argument-description-container {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #1b1d1e;
}
