<div class="page-toolbar">
  <span class="st-typography-header" (click)="onCloseSidemenu()">Groups</span>

  <div class="page-toolbar-buttons">
    <button class="st-button tertiary" (click)="onFileUpload()">
      <i class="si-upload"></i>
      Upload Groups
    </button>

    <button class="st-button icon" (click)="onDeleteGroup()">
      <i class="si-trash"></i>
    </button>

    <button class="st-button primary" (click)="onGroupSelected()">New Group</button>
  </div>
</div>

<div class="content-container">
  <div class="sidenav" *ngIf="showGroupsSidemenu">
    <sm-groups-menu [groups]="groups" (groupSelected)="onGroupSelected($event)"> </sm-groups-menu>
  </div>

  <div class="content group-content">
    <ng-container *ngIf="groups.length > 0; else noGroups">
      <div *ngFor="let group of groups" class="group-container">
        <span class="st-typography-header groups-toggle-text" (click)="onGroupSelected(group)">
          {{ group.identifier }}
        </span>

        <br />

        <span *ngFor="let mapping of group.groupMappings">
          <span>{{ getItemNameOrIdentifierFunc(mapping.item) }}</span>

          <br />
        </span>

        <ng-template *ngIf="groups.indexOf(group) !== groups.length - 1">
          <hr />
        </ng-template>
      </div>
    </ng-container>

    <ng-template #noGroups>
      <span>This collection does not have any groups.</span>
    </ng-template>
  </div>

  <div class="sidenav" *ngIf="showSidenav && selectedCollectionId">
    <sm-groups-sidenav
      [commandMap]="commandMap"
      [constraintMap]="constraintMap"
      [informationTypeMap]="informationTypeMap"
      [eventMap]="eventMap"
      [group]="group"
      [groupMap]="groupMap"
      [groupIdentifierMap]="groupIdentifierMap"
      [selectedCollectionId]="selectedCollectionId"
      [stateMap]="stateMap"
      (modifyGroup)="onSidenavOutput($event)"
      (showError)="onShowError($event)"
    >
    </sm-groups-sidenav>
  </div>
</div>
