.group-buttons {
  display: flex;
  justify-content: center;
}

.groups-toggle-text {
  cursor: pointer;
}

.group-content {
  margin: 16px;
  min-inline-size: 58%;
}

.group-container:not(:first-of-type) {
  margin-top: 16px;
}
