<mat-toolbar class="mat-toolbar-page secondary-toolbar" color="primary">
  Groups 

  <div>
    <button mat-button (click)="onFileUpload()">
      Upload Groups
    </button>

    <button mat-raised-button color="primary" (click)="onGroupSelected()">
      New Group
    </button>
  </div>

</mat-toolbar>

<div class="content-container">
  <div class="sidenav">
    <groups-menu
      [groups]="groups"
      (groupSelected)="onGroupSelected($event)">
    </groups-menu>
  </div>

  <div class="content">
    <ng-container *ngIf="groups.length > 0; else noGroups">
      <mat-list *ngFor="let group of groups">
        <div mat-subheader (click)="onGroupSelected(group)">
          {{group.identifier}}
        </div>

        <mat-list-item *ngFor="let mapping of group.groupMappings">
          <div mat-line>{{mapping.item.identifier}}</div>
        </mat-list-item>

        <ng-template *ngIf="groups.indexOf(group) !== groups.length - 1">
          <mat-divider></mat-divider>
        </ng-template>
      </mat-list>
    </ng-container>

    <ng-template #noGroups>
      <span>This collection does not have any groups.</span>
    </ng-template>
  </div>

  <div class="sidenav" *ngIf="showSidenav && selectedCollectionId">
    <groups-sidenav
      [informationTypeMap]="informationTypeMap"
      [eventMap]="eventMap"
      [group]="group"
      [groupIdentifierMap]="groupIdentifierMap"
      [selectedCollectionId]="selectedCollectionId"
      [stateMap]="stateMap"
      (deleteGroup)="onDeleteGroup($event)"
      (modifyGroup)="onSidenavOutput($event)"
      (showError)=onShowError($event)>
    </groups-sidenav>
  </div>
</div>
