<div class="sidenav-container">
  <div class="sidenav-header">
    <span class="st-typography-header">Command Details</span>

    <button class="st-button icon tertiary" (click)="onCancel()">
      <i class="si si-close"></i>
    </button>
  </div>

  <div class="sidenav-content">
    <label for="Identifier">Identifier</label>
    <p class="st-typography-body">{{ command.identifier }}</p>

    <label for="Display Name">Display Name</label>
    <p class="st-typography-body">{{ command.displayName }}</p>

    <label for="Description">Description</label>
    <p class="st-typography-body">{{ command.description }}</p>

    <label for="Version">Version</label>
    <p class="st-typography-body">{{ command.version }}</p>

    <label for="Command Type">Command Type</label>
    <p class="st-typography-body">{{ command.type }}</p>
  </div>

  <sm-command-argument-display [arguments]="commandArguments"></sm-command-argument-display>

  <div class="sidenav-footer">
    <button class="st-button secondary" (click)="onCancel()">Cancel</button>
  </div>
</div>
