<div class="sidenav-container">
  <div class="sidenav-header">
    <span class="st-typography-header">Command Details</span>

    <button class="st-button icon tertiary" (click)="onCancel()">
      <i class="si si-close"></i>
    </button>
  </div>

  <div class="sidenav-content">
    <form [formGroup]="form">
      <div *ngIf="commandIdentifierMap">
        <app-identifier-form
          [originalIdentifier]="newCommand.identifier"
          [identifierMap]="commandIdentifierMap"
          [id]="newCommand.id"
          [type]="form.value.type"
          (identifierEmitter)="onIdentifierChange($event)"
        >
        </app-identifier-form>

        <input class="hidden" type="number" formControlName="collectionId" required />

        <label for="Display Name">Display Name</label>
        <input
          class="st-input"
          placeholder="Display Name"
          name="Display Name"
          type="text"
          formControlName="displayName"
          required
        />

        <label for="Description">Description</label>
        <textarea class="st-input" placeholder="Description" formControlName="description">
        </textarea>

        <label for="Version">Version</label>
        <input
          class="st-input"
          placeholder="Version"
          name="Version"
          type="text"
          formControlName="version"
          required
        />

        <label for="Command Type">Command Type</label>
        <select class="st-select" placeholder="Command Type" formControlName="type">
          <option *ngFor="let commandType of commandTypes" [value]="commandType">
            {{ commandType }}
          </option>
        </select>

        <app-command-argument-form [arguments]="newCommand.arguments" [collectionId]="collectionId">
        </app-command-argument-form>
      </div>
    </form>
  </div>

  <div class="sidenav-footer">
    <button class="st-button secondary" (click)="onCancel()">Cancel</button>
  </div>
</div>
