<mat-toolbar class="mat-toolbar-page secondary-toolbar" color="primary">
  Events

  <div>
    <button mat-button routerLink="../event-history">
      History
    </button>

    <button mat-button (click)="eventsFileUpload.click()">
      Upload Events
    </button>
    <input #eventsFileUpload class="file-upload-input" type="file" (input)="onFileUpload($event)" />

    <button mat-raised-button color="primary" (click)="onModifyEvent()">
      Create New Event
    </button>
  </div>
</mat-toolbar>

<div class="content-container">
  <div class="content">
    <app-event-table
      [eventMap]="eventMap"
      (eventSelected)="onModifyEvent($event)">
    </app-event-table>
  </div>

  <div class="sidenav" *ngIf="showSidenav && selectedCollectionId">
    <app-event-sidenav
      [eventIdentifierMap]="eventIdentifierMap"
      [event]="event"
      [selectedCollectionId]="selectedCollectionId"
      (duplicateIdentifier)="onDuplicateIdentifier($event)"
      (modifyEvent)="onSidenavOutput($event)">
    </app-event-sidenav>
  </div>
</div>
