.mat-toolbar button:not(:last-child) {
  margin-right: 1em;
}

.events-content {
  flex-grow: 1;
  margin: 1em;
}

.events-content-container {
  display: flex;
  flex-flow: row nowrap;
}

.events-toolbar {
  display: flex;
  justify-content: space-between;
}
