<ng-container *ngIf="type">
  <ng-container *ngIf="!isList; else list">
    <label>{{title}}</label>
    <select class="st-select"
      [(ngModel)]="relationship[formProperty]"
      (ngModelChange)="onValueChange($event)">
      <option *ngFor="let value of selectedTypeMap | keyvalue"
        [value]="selectedTypeMap[value.key].id">
        {{selectedTypeMap[value.key].identifier}}
      </option>
    </select>
  </ng-container>

  <ng-template #list>
    <label>{{title}}</label>
    <select class="st-select"
      [(ngModel)]="relationship[formProperty]"
      (ngModelChange)="onValueChange($event)">
      <ng-container *ngFor="let value of listMap | keyvalue">
        <option *ngFor="let item of value.value"
          [value]="item.id">
          {{supplementalMap[value.key].identifier}} - {{item.name}}
        </option>
      </ng-container>
    </select>
  </ng-template>
</ng-container>
