<div *ngIf="type">
  <div *ngIf="type === stateEnumName || type === eventEnumName; else informationType">
    <mat-form-field *ngIf="type === stateEnumName" appearance="outline">
      <mat-label>State</mat-label>
      <mat-select
        [(value)]="relationship[formProperty]"
        (selectionChange)="onValueChange($event)">
        <!-- TODO: Fix converting these values to numbers after the ID changes. -->
        <mat-option *ngFor="let value of stateMap | keyvalue"
          [value]="+stateMap[value.key].id">
          {{stateMap[value.key].identifier}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="type === eventEnumName" appearance="outline">
      <mat-label>Event</mat-label>
      <mat-select
        [(value)]="relationship[formProperty]"
        (selectionChange)="onValueChange($event)"
        appearance="outline">
        <mat-option *ngFor="let value of eventMap | keyvalue"
          [value]="+eventMap[value.key].id">
          {{eventMap[value.key].identifier}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-template #informationType>
    <mat-form-field appearance="outline">
      <mat-label>{{type}}</mat-label>
      <mat-select
        *ngIf="currentTypeMap"
        [(value)]="relationship[formProperty]"
        (selectionChange)="onValueChange($event)">
        <mat-option *ngFor="let value of currentTypeMap | keyvalue"
          [value]="+currentTypeMap[value.key].id">
          {{currentTypeMap[value.key].identifier}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>
</div>
