<div class="page-toolbar">
  <span class="st-typography-header">Commands</span>

  <div class="page-toolbar-buttons">
    <button class="st-button tertiary" routerLink="../command-history">
      Command History 
    </button>

    <button class="st-button tertiary" routerLink="../command-argument-history">
      Command Argument History 
    </button>

    <button class="st-button icon tertiary" (click)="onCommandFileUpload()">
      <i class="si-upload"></i>
      Upload Commands
    </button>

    <button class="st-button icon tertiary" (click)="onCommandArgumentFileUpload()">
      <i class="si-upload"></i>
      Upload Command Arguments
    </button>

    <button class="st-button primary" (click)="onModifyCommand()">
      Create New Command 
    </button>
  </div>
</div>

<div class="content-container">
  <div class="content">
    <sm-command-table
      [commands]="commands"
      (commandSelected)="onModifyCommand($event)">
    </sm-command-table>
  </div>

  <div class="sidenav" *ngIf="showSidenav && selectedCollectionId">
    <command-sidenav
      [collectionId]="selectedCollectionId"
      [command]="command"
      [commandArguments]="commandArguments"
      [commandIdentifierMap]="commandIdentifierMap"
      (errorEmitter)="onSidenavError($event)"
      (modifyCommand)="onSidenavOutput($event)">
    </command-sidenav>
  </div>
</div>
