<mat-toolbar class="toolbar">
  COMMANDS 

  <div>
    <button mat-button routerLink="../command-history">
      History 
    </button>

    <button mat-raised-button class="gray-button" (click)="onModifyCommand()">
      Create New Command 
    </button>

    <button mat-raised-button class="gray-button" (click)="onFileUpload()">
      Upload Commands
    </button>
  </div>
</mat-toolbar>

<div class="content-container">
  <div class="content">
    <command-table
      [commands]="commands"
      (commandSelected)="onModifyCommand($event)">
    </command-table>
  </div>

  <div class="sidenav" *ngIf="showSidenav && selectedCollectionId">
    <command-sidenav
      [collectionId]="selectedCollectionId"
      [command]="command"
      [commandIdentifierMap]="commandIdentifierMap"
      (errorEmitter)="onSidenavError($event)"
      (modifyCommand)="onSidenavOutput($event)">
    </command-sidenav>
  </div>
</div>
