<mat-toolbar class="mat-toolbar-page secondary-toolbar" color="primary">
  Commands

  <div>
    <button mat-button routerLink="../../command-history">
      Command History 
    </button>

    <button mat-button routerLink="../../command-argument-history">
      Command Argument History 
    </button>

    <button mat-button class="gray-button" (click)="onCommandFileUpload()">
      Upload Commands
    </button>

    <button mat-button class="gray-button" (click)="onCommandArgumentFileUpload()">
      Upload Command Arguments
    </button>

    <button mat-raised-button color="primary" (click)="onModifyCommand()">
      Create New Command 
    </button>
  </div>
</mat-toolbar>

<div class="content-container">
  <div class="content">
    <command-table
      [commandMap]="commandMap"
      (commandSelected)="onModifyCommand($event)">
    </command-table>
  </div>

  <div class="sidenav" *ngIf="showSidenav && selectedCollectionId">
    <command-sidenav
      [collectionId]="selectedCollectionId"
      [command]="command"
      [commandArguments]="commandArguments"
      [commandIdentifierMap]="commandIdentifierMap"
      [commandTypes]="commandTypes"
      (errorEmitter)="onSidenavError($event)"
      (modifyCommand)="onSidenavOutput($event)">
    </command-sidenav>
  </div>
</div>
