<div class="sidenav-container">
  <div class="sidenav-header">
    <span>Relationship Detail</span>

    <button mat-icon-button class="sidenav-cancel-button" (click)="onCancel()">
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput
        placeholder="Display Name"
        type="text"
        formControlName="displayName"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
        placeholder="Description"
        formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Type" [(value)]="selectedType">
        <mat-option *ngFor="let relationshipType of relationshipTypes" [value]="relationshipType">
          {{relationshipType}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <state-picker *ngIf="selectedType === 'State'; else targetName"
      [parentFormGroup]="form"
      [relationship]="newRelationship"
      [stateVariableMap]="stateVariableMap">
    </state-picker>

    <ng-template #targetName>
      <mat-form-field>
        <input matInput
          placeholder="Target Name"
          type="text"
          formControlName="targetName"
        />
      </mat-form-field>
    </ng-template>

    <div class="sidenav-actions">
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
