<sm-loading [isLoading]="isLoading">
  <div class="page-toolbar">
    <span class="st-typography-header">Relationship History</span>
  </div>

  <div class="content-container">
    <div class="content">
      <sm-relationships-table
        [commandMap]="commandMap"
        [constraintMap]="constraintMap"
        [eventMap]="eventMap"
        [history]="true"
        [informationTypeMap]="informationTypeMap"
        [relationshipMap]="relationshipHistoryMap"
        [stateEnumerationMap]="stateEnumerationMap"
        [stateMap]="stateMap"
      >
      </sm-relationships-table>
    </div>
  </div>
</sm-loading>
