<mat-toolbar class="toolbar">
  CONSTRAINTS

  <div>
    <button mat-button routerLink="../constraint-history">
      History 
    </button>

    <button mat-raised-button class="gray-button" (click)="onModifyConstraint()">
      Create New Constraint 
    </button>

    <button mat-raised-button class="gray-button" (click)="onFileUpload()">
      Upload Constraints
    </button>
  </div>
</mat-toolbar>

<div class="content-container">
  <div class="content">
    <constraint-table
      [constraints]="constraints"
      (constraintSelected)="onModifyConstraint($event)">
    </constraint-table>
  </div>

  <div class="sidenav" *ngIf="showSidenav && selectedCollectionId">
    <constraint-sidenav
      [constraint]="constraint"
      [constraintIdentifierMap]="constraintIdentifierMap"
      (duplicateIdentifier)="onDuplicateIdentifier($event)"
      (modifyConstraint)="onSidenavOutput($event)">
    </constraint-sidenav>
  </div>
</div>
