<div *ngIf="relationshipMap && stateMap && relationshipsList.length > 0; else noRelationships">
  <table mat-table [dataSource]="dataSource" [ngClass]="{ 'history': history }">
    <ng-container *ngIf="history">
      <ng-container matColumnDef="relationshipId">
        <th mat-header-cell *matHeaderCellDef>Relationship Id</th>
        <td mat-cell *matCellDef="let relationship">{{relationship.relationshipId}}</td>
      </ng-container>

      <ng-container matColumnDef="updated">
        <th mat-header-cell *matHeaderCellDef>Updated</th>
        <td mat-cell *matCellDef="let relationship">{{relationship.updated}}</td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>Display Name</th>
      <td mat-cell *matCellDef="let relationship">{{relationship.displayName}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let relationship">{{relationship.description}}</td>
    </ng-container>

    <ng-container matColumnDef="subjectType">
      <th mat-header-cell *matHeaderCellDef>Subject Type</th>
      <td mat-cell *matCellDef="let relationship">{{relationship.subjectType}}</td>
    </ng-container>

    <ng-container matColumnDef="targetType">
      <th mat-header-cell *matHeaderCellDef>Target Type</th>
      <td mat-cell *matCellDef="let relationship">{{relationship.targetType}}</td>
    </ng-container>

    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>Subject</th>
      <td mat-cell *matCellDef="let relationship">
        {{getTypeIdentifier(relationship.subjectTypeId, relationship.subjectType)}}
      </td>
    </ng-container>

    <ng-container matColumnDef="target">
      <th mat-header-cell *matHeaderCellDef>Target</th>
      <td mat-cell *matCellDef="let relationship">
        {{getTypeIdentifier(relationship.targetTypeId, relationship.targetType)}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"
      (click)="onRowClick(row)">
    </tr>
  </table>
</div>

<ng-template #noRelationships>
  <span>There are no defined relationships.</span>
</ng-template>
