<sm-loading [isSaving]="isSaving">
  <div class="sidenav-container">
    <div class="sidenav-header">
      <span class="st-typography-header">Relationship Details</span>

      <button class="st-button icon tertiary" (click)="onCancel()">
        <i class="si si-close"></i>
      </button>
    </div>

    <div class="sidenav-content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="displayName">Display Name</label>
        <input
          class="st-input"
          placeholder="Display Name"
          type="text"
          formControlName="displayName"
          required
        />

        <label for="description">Subject to Target Description</label>
        <textarea
          class="st-input"
          placeholder="Subject to Target Description"
          formControlName="subjectToTargetDescription"
        ></textarea>

        <label>Subject</label>
        <sm-auto-complete
          [itemSet]="itemSet"
          [selectedItemIds]="[newRelationship.subjectTypeId]"
          (itemRemoved)="onSubjectRemoved($event)"
          (itemSelected)="onSubjectSelected($event)"
        >
        </sm-auto-complete>

        <label for="description">Target to Subject Description</label>
        <textarea
          class="st-input"
          placeholder="Target to Subject Description"
          formControlName="targetToSubjectDescription"
        ></textarea>

        <label>Target</label>
        <sm-auto-complete
          [itemSet]="itemSet"
          [selectedItemIds]="[newRelationship.targetTypeId]"
          (itemRemoved)="onTargetRemoved($event)"
          (itemSelected)="onTargetSelected($event)"
        >
        </sm-auto-complete>
      </form>
    </div>

    <div class="sidenav-footer">
      <button class="st-button secondary" (click)="onCancel()">Cancel</button>

      <button class="st-button" (click)="onSubmit()">Save Relationship</button>
    </div>
  </div>
</sm-loading>
