<div class="sidenav-container">
  <div class="sidenav-header">
    <span>Relationship Detail</span>

    <button mat-icon-button class="sidenav-cancel-button" (click)="onCancel()">
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput
        placeholder="Display Name"
        type="text"
        formControlName="displayName"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
        placeholder="Description"
        formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Subject Type" [(value)]="subjectType">
        <mat-option *ngFor="let type of types" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-relationship-type-picker
      [eventMap]="eventMap"
      [informationTypeMap]="informationTypeMap"
      [isSubject]="true"
      [parentFormGroup]="form"
      [relationship]="newRelationship"
      [stateMap]="stateMap"
      [type]="subjectType">
    </app-relationship-type-picker>

    <mat-form-field class="target-type-picker">
      <mat-select placeholder="Target Type" [(value)]="targetType">
        <mat-option *ngFor="let type of types" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-relationship-type-picker
      [eventMap]="eventMap"
      [informationTypeMap]="informationTypeMap"
      [parentFormGroup]="form"
      [relationship]="newRelationship"
      [stateMap]="stateMap"
      [type]="targetType">
    </app-relationship-type-picker>

    <div class="sidenav-actions">
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
