<div class="sidenav-container">
  <div class="sidenav-header">
    <span class="st-typography-header">Relationship Details</span>

    <button class="st-button icon tertiary" (click)="onCancel()">
      <i class="si si-close"></i>
    </button>
  </div>

  <div class="sidenav-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="displayName">Display Name</label>
      <input class="st-input"
        placeholder="Display Name"
        type="text"
        formControlName="displayName"
        required
      />

      <label for="description">Description</label>
      <textarea class="st-input"
        placeholder="Description"
        formControlName="description"></textarea>

      <label for="subjectType">Subject Type</label>
      <select class="st-select" placeholder="Subject Type" formControlName="subjectType" (ngModelChange)="onSubjectTypeChange($event)">
        <option *ngFor="let type of types" [value]="type">
          {{type}}
        </option>
      </select>

      <app-relationship-type-picker
        [commandArgumentMap]="commandArgumentMap"
        [commandMap]="commandMap"
        [constraintMap]="constraintMap"
        [eventMap]="eventMap"
        [informationTypeMap]="informationTypeMap"
        [isSubject]="true"
        [parentFormGroup]="form"
        [relationship]="newRelationship"
        [stateEnumerationMap]="stateEnumerationMap"
        [stateMap]="stateMap"
        [type]="subjectType">
      </app-relationship-type-picker>

      <label for="targetType">Target Type</label>
      <select class="st-select" placeholder="Target Type" formControlName="targetType" (ngModelChange)="onTargetTypeChange($event)">
        <option *ngFor="let type of types" [value]="type">
          {{type}}
        </option>
      </select>

      <app-relationship-type-picker
        [commandArgumentMap]="commandArgumentMap"
        [commandMap]="commandMap"
        [constraintMap]="constraintMap"
        [eventMap]="eventMap"
        [informationTypeMap]="informationTypeMap"
        [parentFormGroup]="form"
        [relationship]="newRelationship"
        [stateEnumerationMap]="stateEnumerationMap"
        [stateMap]="stateMap"
        [type]="targetType">
      </app-relationship-type-picker>
    </form>
  </div>

  <div class="sidenav-footer">
    <button class="st-button secondary" (click)="onCancel()">Cancel</button>

    <button class="st-button" (click)="onSubmit()">Save Relationship</button>
  </div>
</div>
