<div *ngIf="arguments">
  <div class="enumerations-header">
    <span class="enumeration-label">{{argumentLabel}}</span>
  </div>

  <table>
    <tr>
      <th>Sort Order</th>
      <th class="label-column">Name</th>
      <th></th>
    </tr>

    <tr *ngFor="let argument of arguments">
      <td>
        <input matInput 
          [(ngModel)]="argument.sortOrder"
          type="number"
          placeholder="Sort Order" />
      </td>

      <td>
        <input matInput 
          [(ngModel)]="argument.name"
          type="text"
          placeholder="Name" />
      </td>

      <td>
        <button class="st-button icon tertiary" (click)="onDeleteArgument(argument)">
          <i class="si si-close"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button id="add-enum" class="st-button icon tertiary text-italic text-secondary" (click)="onAddArgument()">
          <i class="si si-plus"></i>
          Add a command argument...
        </button>
      </td>
    </tr>
  </table>
</div>
