<div *ngIf="arguments">
  <div class="enumerations-header">
    <span class="enumeration-label">{{argumentLabel}}</span>
  </div>

  <table>
    <tr>
      <th>Sort Order</th>
      <th class="label-column">Name</th>
      <th></th>
    </tr>

    <tr *ngFor="let argument of arguments">
      <td>
        <input matInput 
          [(ngModel)]="argument.sortOrder"
          type="number"
          placeholder="Sort Order" />
      </td>

      <td>
        <input matInput 
          [(ngModel)]="argument.name"
          type="text"
          placeholder="Name" />
      </td>

      <td>
        <button mat-button type="button" (click)="onDeleteArgument(argument)" class="mat-icon-button">
          <mat-icon svgIcon="clear"></mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button id="add-enum" mat-button type="button" (click)="onAddArgument()"  class="text-italic text-secondary">
          <mat-icon svgIcon="add"></mat-icon>
          Add a command argument...
        </button>
      </td>
    </tr>
  </table>
</div>
