.file-upload-input {
  display: none;
}

.mat-toolbar button:not(:last-child) {
  margin-right: 1em;
}

.states-content {
  flex-grow: 1;
  margin: 1em;
}

.states-content-container {
  display: flex;
  flex-flow: row nowrap;
}

.states-toolbar {
  display: flex;
  justify-content: space-between;
}
