<div class="main">
  <div class="content">
    <add-data-form
      (createStateVariable)="onModifyStateVariable($event)"
      (uploadStateVariables)="onUploadStateVariables($event)">
    </add-data-form>

    <state-variable-table *ngIf="stateVariableMap"
      [stateVariableMap]="stateVariableMap"
      (stateVariableSelected)="onModifyStateVariable($event)">
    </state-variable-table>
  </div>

  <div class="sidebar" *ngIf="showSidenav">
    <state-variable-sidenav
      [stateVariable]="stateVariable"
      (modifyStateVariable)="onSidenavOutput($event)"
      (modifyEnumerations)="onEnumerationsOutput($event)">
    </state-variable-sidenav>
  </div>
</div>
