<mat-toolbar class="mat-toolbar-page secondary-toolbar" color="primary">
  Relationships

  <div class="actions-container">
    <button mat-button routerLink="../relationship-history">
      History
    </button>

    <button mat-button (click)="relationshipsFileUpload.click()">
      Upload Relationships
    </button>

    <input #relationshipsFileUpload class="file-upload-input" type="file" (input)="onFileUpload($event)" />

    <button mat-raised-button color="primary" (click)="onModifyRelationship()">
      Create New Relationship
    </button>
  </div>
</mat-toolbar>

<div class="content-container">
  <div class="content">
    <app-relationships-table
      [commandMap]="commandMap"
      [constraintMap]="constraintMap"
      [eventMap]="eventMap"
      [informationTypeMap]="informationTypeMap"
      [relationshipMap]="relationshipMap"
      [stateMap]="stateMap"
      (relationshipSelected)="onModifyRelationship($event)">
    </app-relationships-table>
  </div>

  <div class="sidenav" *ngIf="showSidenav">
    <app-relationship-sidenav
      [commandMap]="commandMap"
      [constraintMap]="constraintMap"
      [eventMap]="eventMap"
      [informationTypeMap]="informationTypeMap"
      [relationship]="relationship"
      [stateMap]="stateMap"
      (formError)="onFormErrorOutput($event)"
      (modifyRelationship)="onRelationshipOutput($event)">
    </app-relationship-sidenav>
  </div>
</div>
