<mat-toolbar class="relationships-toolbar">
  RELATIONSHIPS

  <div class="actions-container">
    <button mat-button routerLink="/relationship-history">
      History 
    </button>

    <button mat-raised-button class="gray-button" (click)="onModifyRelationship()">
      Create New Relationship
    </button>

    <button mat-raised-button class="gray-button" (click)="relationshipsFileUpload.click()">
      Upload Relationships
    </button>
    <input #relationshipsFileUpload class="file-upload-input" type="file" (input)="onFileUpload($event)" />
  </div>
</mat-toolbar>

<div class="relationships-content-container">
  <div class="relationships-content">
    <relationships-table
      [eventMap]="eventMap"
      [informationTypesMap]="informationTypesMap"
      [relationshipMap]="relationshipMap"
      [stateMap]="stateMap"
      (relationshipSelected)="onModifyRelationship($event)">
    </relationships-table>
  </div>

  <div class="sidenav" *ngIf="showSidenav">
    <relationships-sidenav
      [eventMap]="eventMap"
      [informationTypesMap]="informationTypesMap"
      [relationship]="relationship"
      [stateMap]="stateMap"
      (formError)="onFormErrorOutput($event)"
      (modifyRelationship)="onRelationshipOutput($event)">
    </relationships-sidenav>
  </div>
</div>
