button {
  margin-left: 1em;
}

.relationships-content {
  flex-grow: 1;
}

.relationships-content-container {
  display: flex;
  flex-flow: row nowrap;
}

.relationships-toolbar {
  display: flex;
  justify-content: space-between;
}
