<div class="argument-header">
  <span class="st-typography-medium">Command Arguments</span>

  <button class="st-button icon" (click)="onExpandArguments()">
    <i [ngClass]="showArguments ? 'si si-chevron_down' : 'si si-chevron_right'"></i>
  </button>
</div>

<div *ngIf="showArguments">
  <div *ngFor="let argument of arguments" class="argument-section">
    <div class="argument-info-container">
      <span class="st-typography-bold"
        >{{ arguments.indexOf(argument) + 1 }} {{ argument.name }}</span
      >

      <span class="argument-type st-chip chip st-typography-bold">{{ argument.type }}</span>
    </div>

    <span class="argument-description st-typography-body" [title]="argument.description">{{
      argument.description
    }}</span>

    <div class="enumerations-section">
      <div *ngIf="argument.type === CommandArgumentType.Enumerated">
        <div *ngIf="argument.enumerations && argument.enumerations.length > 0; else noEnums">
          <span class="enumerations-header st-typography-small-caps">
            ENUMS ({{ argument.enumerations.length }})
          </span>

          <div class="enum-container">
            <ng-container *ngFor="let enumeration of argument.enumerations">
              <span class="st-chip chip">{{ enumeration.label }}</span>
            </ng-container>
          </div>
        </div>

        <ng-template #noEnums>
          <span class="st-typography-small-caps">NO ENUMS</span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
