<mat-form-field appearance="outline">
  <mat-label>Data</mat-label>

  <input matInput
    placeholder="Search for data..."
    #itemInput
    [formControl]="formControl"
    [matAutocomplete]="auto" />

  <chip *ngFor="let item of selectedItems"
    [id]="item.id"
    [text]="item.identifier"
    (removed)="onRemove($event)">
  </chip>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)">
    <mat-option *ngFor="let item of filteredItems | async" [value]="item">
      {{item.identifier}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
