/**************
Table of Contents
1. Layout
2. Typography
3. Forms
4. Tables
5. Sidenav
6. Toolbar
**************/

/**************
1. Layout
**************/

html, body {
  height: 100%;
}

.hidden {
  display: none !important;
}

/**************
2. Typography
**************/

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

/**************
3. Forms
**************/

/* Angular Material Global Overwrites */
.mat-chip {
  border-radius: .5em !important;
  max-width: 100% !important;
  width: fit-content !important;
}

.mat-form-field {
  display: flex;
  width: 100%;
}

.mat-toolbar button:not(:last-child) {
  margin-right: 1em;
}

/* Global Styles */
.chip-text {
  width: calc(100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  flex-grow: 1;
}

.content-container {
  display: flex;
  flex-flow: row nowrap;
}

.form-input {
  background: #FAFAFA;
  border: 1px solid #BEBEBE;
  box-sizing: border-box;
  border-radius: 3px;
  height: 3em;
  padding-top: .75em;
  padding-left: .5em;
}

.form-input-label {
  margin-bottom: .5em;
}

/**************
4. Tables
**************/

table {
  width: 100%;
}

.table-row {
  cursor: pointer;
}

.history .table-row {
  cursor: default;
}

td.mat-cell:first-of-type{
  font-weight: bold;
}

/**************
5. Sidenav
**************/

.sidenav {
  width: 25%;
}

.sidenav-cancel-button {
  top: -8px;
}

.sidenav-header {
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  padding-bottom: 1em;
}

.sidenav-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

/**************
5. Toolbar
**************/

.file-upload-input {
  display: none;
}

/*Make collection container inline with navbar content*/
.collection-container .mat-form-field-wrapper{
  line-height: 36px;
  padding-bottom: 0;
}

.mat-toolbar .mat-form-field-infix{
  border-top-width: 0px;
}
