html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Angular Material Global Overwrites */
.mat-form-field {
  width: 100%;
  display: flex;
}

/* Global Styles */
.gray-button {
  background: #979797;
  color: white;
  border-radius: 3px;
  box-shadow: none;
}

.sidenav {
  width: 25%;
}

.form-input {
  background: #FAFAFA;
  border: 1px solid #BEBEBE;
  box-sizing: border-box;
  border-radius: 3px;
  height: 3em;
  padding-top: .75em;
  padding-left: .5em;
}

.form-input-label {
  margin-bottom: .5em;
}

/* Sidenav Specific Styles */
.sidenav-cancel-button {
  top: -8px;
}

.sidenav-header {
  font-size: 1.5em;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.sidenav-container {
  padding: 1em;
  height: 100%;
  border-left: 1px solid #BEBEBE;
}

.sidenav-actions {
  margin-top: 1em;
}
