@import '~@angular/material/theming';
@include mat-core();

// Colors

$light-secondary-text: #ebf0ff;

$mat-primary: (
  50: #eaeeff,
  100: #cbd7ee,
  200: #b0bcd7,
  300: #93a1c0,
  400: #7d8cae,
  500: #67799d,
  600: #596a8c,
  700: #485774,
  800: #38445e,
  850: #303850,
  900: #253046,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
  )
);

$mat-accent: (
  50: #DEF5FB,
  100: #ACE7F4,
  200: #73D8EC,
  300: #30C7E2,
  400: #00BCDA,
  500: #00B1D3,
  600: #00A1C0,
  700: #008DA6,
  800: #00798D,
  900: #005761,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
  )
);

$mat-grey: (  
  50: #F8F9FA,
  100: #F1F3F5,
  200: #E8EBED,
  250: #E3E7E9,
  300: #DEE2E6,
  400: #CFD4DA,
  500: #ADB5BD,
  600: #70777E,
  650: #868E96,
  700: #495057,
  800: #343A40,
  900: #21252A
);

$primary: mat-palette($mat-primary, 800);
$accent: mat-palette($mat-accent, 200);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

// Mixins

@mixin body-2 {
  font-size: 14px;
  font-weight: 400;
  line-height:  20px;
}

@mixin button {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .02em;
  line-height: 16px;
}

@mixin headline-6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: .15px;
}

// Typography

// Component Overwrites

table {
  td {
    @include body-2();
  }

  .mat-header-cell, th{
    background-color: mat-color($mat-grey, 100);
    color: mat-color($mat-grey, 700);
    letter-spacing: .15px;
  }

  tr {
    th.mat-header-cell, td.mat-cell {
      border-bottom: 1px solid mat-color($mat-grey, 400);
    }
  }
}

.filter-container > div {
  padding: 1em;
  border-bottom: 1px solid mat-color($mat-grey, 400);
  box-shadow: 0px 4px 5px mat-color($mat-grey, 250);
}

.mat-button.mat-button-base {
  background-color: mat-color($primary, 900);
  color: $light-primary-text;
}

.mat-button, .mat-raised-button {
  @include button();
}

.mat-form-field-underline {
  display: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: mat-color($mat-grey, 100);
}

.mat-toolbar {
  display: flex;
  height: 2.2em;
  justify-content: space-between;

  button {
    margin-right: 1em;
  }

  h6 {
    @include headline-6();
  }
}

.mat-toolbar.mat-primary .mat-button.mat-button-base {
  color: $light-secondary-text;
  background-color:  mat-color($primary, 850);
  letter-spacing: .05em;
  font-weight: 400;
  line-height: 32px;
}

.mat-toolbar.mat-primary {
  background-color: mat-color($primary, 850);
}

.mat-toolbar.mat-primary .mat-raised-button.mat-button-base {
  line-height: 32px;
}

.mat-toolbar.mat-toolbar-page {
  background-color: mat-color($primary, 900);
}
