<div class="sidenav-container">
  <div class="sidenav-header">
    <span>Event</span>

    <button mat-icon-button (click)="onCancel()">
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="eventIdentifierMap !== null">
      <app-identifier-form
        [originalIdentifier]="originalIdentifier"
        [identifierMap]="eventIdentifierMap"
        (duplicateIdentifier)="onDuplicateIdentifier($event)"
        (identifierEmitter)="onIdentifierChange($event)">
      </app-identifier-form>

      <mat-form-field class="hidden">
        <input matInput
          type="number"
          formControlName="collectionId"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input matInput
          placeholder="Display Name"
          type="text"
          formControlName="displayName"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <textarea matInput
          placeholder="Description"
          formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input matInput
          placeholder="External Link"
          type="text"
          formControlName="externalLink"
        />
      </mat-form-field>
    </div>

    <div class="sidenav-actions">
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
