<div class="sidenav-container">
  <div class="sidenav-header">
    <span class="st-typography-header">Event Details</span>

    <button class="st-button icon tertiary" (click)="onCancel()">
      <i class="si si-close"></i>
    </button>
  </div>

  <div class="sidenav-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngIf="eventIdentifierMap !== null">
        <app-identifier-form
          [originalIdentifier]="originalIdentifier"
          [identifierMap]="eventIdentifierMap"
          [id]="newEvent.id"
          [type]="type"
          (duplicateIdentifier)="onDuplicateIdentifier($event)"
          (identifierEmitter)="onIdentifierChange($event)">
        </app-identifier-form>

        <mat-form-field class="hidden">
          <input matInput
            type="number"
            formControlName="collectionId"
            required
          />
        </mat-form-field>

        <label for="Display Name">Display Name</label>
        <input class="st-input"
          placeholder="Display Name"
          name="Display Name"
          type="text"
          formControlName="displayName"
          required
        />

        <label for="Description">Description</label>
        <textarea class="st-input"
          placeholder="Description"
          formControlName="description">
        </textarea>

        <label for="External Link">External Link</label>
        <input class="st-input"
          placeholder="External Link"
          name="External Link"
          type="text"
          formControlName="externalLink"
        />

        <label for="Event Type">Event Type</label>
        <select class="st-select" placeholder="Event Type" formControlName="type">
          <option *ngFor="let eventType of eventTypes" [value]="eventType">
            {{eventType}}
          </option>
        </select>
      </div>
    </form>
  </div>

  <div class="sidenav-footer">
    <button class="st-button secondary large" (click)="onCancel()">Cancel</button>

    <button class="st-button large" type="submit">Save Event</button>
  </div>
</div>
