 <mat-toolbar class="mat-toolbar-page secondary-toolbar" color="primary">
  States

  <div>
    <button mat-button routerLink="../state-history">
      History
    </button>
    <button mat-button (click)="statesFileUpload.click()">
      Upload States
    </button>
    <input #statesFileUpload class="file-upload-input" type="file" (input)="onFileUpload($event, statesUploadableType)" />

    <button mat-button (click)="enumerationsFileUpload.click()">
      Upload Enumerations
    </button>
    <input #enumerationsFileUpload class="file-upload-input" type="file" (input)="onFileUpload($event, enumerationsUploadableType)" />
    <button mat-raised-button color="primary" (click)="onModifyState()">
      Create New State
    </button>
  </div>
</mat-toolbar>

<div class="content-container">
  <div class="content">
    <app-state-table
      [stateMap]="stateMap"
      (stateSelected)="onModifyState($event)">
    </app-state-table>
  </div>

  <div class="sidenav" *ngIf="showSidenav">
    <app-state-sidenav
      [state]="state"
      (modifyState)="onSidenavOutput($event)"
      (modifyEnumerations)="onEnumerationsOutput($event)">
    </app-state-sidenav>
  </div>
</div>
