<sm-loading [isLoading]="isLoading">
  <div class="page-toolbar">
    <span class="st-typography-header">States</span>

    <div class="page-toolbar-buttons">
      <button class="st-button tertiary" routerLink="../../state-history">State History</button>

      <button class="st-button tertiary" routerLink="../../state-enumeration-history">
        State Enumeration History
      </button>

      <button class="st-button icon tertiary" (click)="onStateFileUpload()">
        <i class="si-upload"></i>
        Upload States
      </button>

      <button class="st-button icon tertiary" (click)="onStateEnumerationFileUpload()">
        <i class="si-upload"></i>
        Upload Enumerations
      </button>

      <button class="st-button primary" (click)="onModifyState()">Create New State</button>
    </div>
  </div>

  <div class="content-container">
    <div class="content">
      <sm-state-table [stateMap]="stateMap" (stateSelected)="onModifyState($event)">
      </sm-state-table>
    </div>

    <div class="sidenav" *ngIf="showSidenav && collectionId">
      <sm-state-sidenav
        [collectionId]="collectionId"
        [isSaving]="isSaving"
        [state]="state"
        [stateEnumerations]="stateEnumerations"
        [stateIdentifierMap]="stateIdentifierMap"
        [stateTypes]="stateTypes"
        (errorEmitter)="onSidenavError($event)"
        (modifyState)="onSidenavOutput($event)"
      >
      </sm-state-sidenav>
    </div>
  </div>
</sm-loading>
