 <mat-toolbar class="mat-toolbar-page secondary-toolbar" color="primary">
  States

  <div>
    <button class="st-button tertiary" routerLink="../state-history">
      State History
    </button>

    <button class="st-button tertiary" routerLink="../state-enumeration-history">
      State Enumeration History
    </button>

    <button class="st-button icon tertiary" (click)="onStateFileUpload()">
      <i class="si-upload"></i>
      Upload States
    </button>

    <button class="st-button icon tertiary" (click)="onStateEnumerationFileUpload()">
      <i class="si-upload"></i>
      Upload Enumerations
    </button>
  </div>
</mat-toolbar>

<div class="content-container">
  <div class="content">
    <app-state-table
      [stateMap]="stateMap"
      (stateSelected)="onModifyState($event)">
    </app-state-table>
  </div>

  <div class="sidenav" *ngIf="showSidenav && collectionId">
    <app-state-sidenav
      [collectionId]="collectionId"
      [state]="state"
      [stateEnumerations]="stateEnumerations"
      [stateIdentifierMap]="stateIdentifierMap"
      (errorEmitter)="onSidenavError($event)"
      (modifyState)="onSidenavOutput($event)">
    </app-state-sidenav>
  </div>
</div>
