<div class ="sidenav-container">
  <div class="sidenav-header">
    <span>Group Details</span>

    <button mat-icon-button class="sidenav-cancel-button" (click)="onCancel()">
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <app-identifier-form
      [originalIdentifier]="originalGroupIdentifier"
      [identifierMap]="groupIdentifierMap"
      (duplicateIdentifier)="onDuplicateGroupIdentifier($event)"
      (identifierEmitter)="onGroupIdentifierChange($event)">
    </app-identifier-form>

    <group-item-selector
      [itemList]="itemList"
      [selectedItems]="selectedItems"
      (selectionChange)="onItemSelect($event)">
    </group-item-selector>

    <div class="sidenav-actions">
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
